<%- include("partials/header") -%>

<div class="container error-container">
  <% if(errorMessageCode !== 401){%>
  <img id="error-img" src="./images/errorr.gif" />
  <%} %>
  <p id="error-message">
    **Sorry,<%= noJobFoundMSG %> <%= errorMessageCode %>**
  </p>
  <h5>Please try again <a href="/">Go Home</a></h5>
</div>
<%- include("partials/footer") -%>
