* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #e8e8e8;
}
.links {
  border-bottom: 1px solid #ea2c62;
}
/***************** Navbar.ejs styles    ******************/
.nav-bar {
  background-color: #495464;
  color: white;
}

.logo-name {
  font-size: 22px;
}
.home-link,
.portfolio-link {
  font-size: 17px;
  color: white;
}
/***************** Home.ejs styles    ******************/
.home-form {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}
.submit-btn {
  background-color: #495464;
  color: #f4f4f2;
}
.form-control {
  background-color: #f4f4f2;
}
/*--- card styles ---*/
.card-container {
  background-color: #f4f4f2;
  border: none;
  border-radius: 12px;
  display: flex;
  border-bottom: 1px solid black;
  border-left: 0.1px solid black;
  border-top-right-radius: 0px;
}
.job-title,
.job-location,
.apply-btn {
  font-family: "Merriweather Sans", sans-serif;
}
.company-name,
.job-description,
.contract-time,
.date-posted,
#num-of-jobs,
#num-of-pages {
  font-family: "Merriweather", serif;
}
.job-title {
  font-size: 20px;
  font-weight: 400;
}
.job-title span {
  background-color: #004a7c;
}
.company-name {
  font-size: 17px;
}
.job-location {
  font-size: 17px;
}
.job-description {
  font-size: 15px;
  opacity: 0.7;
  font-weight: 100;
}
.read-more-link {
  opacity: 1;
  font-size: 15px;
  font-weight: 600;
  color: #004a7c;
}
.contract-time {
  font-weight: 400;
  font-size: 12px;
}
.date-posted {
  font-weight: 400;
  font-size: 12px;
}
.apply-btn {
  background-color: #495464;
  font-size: 15px;
  font-weight: 100;
  padding: 7px 3rem;
}

/*--- Pagination ---*/
.pagination button {
  cursor: pointer;
  padding: 7px 15px;
  color: black;
  border-radius: 7px;
  border-right: none;
  border-top: none;
  outline: none;
  font-size: 14px;
  margin-left: 3px;
}
.pagination button:hover {
  color: red;
}
.current-page {
  background-color: skyblue;
  color: white;
}

/***************** Error.ejs styles ******************/
.error-container {
  display: flex;
  min-height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#error-message {
  margin: 12px 0px;
  font-size: 17px;
  text-align: center;
}
#error-img {
  max-width: 35%;
}
@media (min-width: 768px) {
  /* change the font-size */
  /***************** Navbar.ejs styles    ******************/
  .logo-name {
    font-size: 27px;
  }
  .home-link,
  .portfolio-link {
    font-size: 22px;
  }
  /***************** SHOWJOBS.ejs styles ******************/

  #num-of-jobs {
    font-size: 25px;
  }
  #num-of-pages {
    font-size: 25px;
  }

  .job-title {
    font-size: 25px;
    font-weight: 350;
  }
  .job-title span {
    background-color: #004a7c;
  }
  .company-name {
    font-size: 22px;
  }
  .job-location {
    font-size: 22px;
  }
  .job-description {
    font-size: 18px;
    opacity: 0.75;
  }
  .read-more-link {
    opacity: 1;
    font-size: 20px;
    font-weight: 600;
    color: #004a7c;
  }
  .contract-time {
    font-weight: 400;
    font-size: 17px;
  }
  .date-posted {
    font-weight: 400;
    font-size: 17px;
  }
  .apply-btn {
    font-size: 17px;
    font-weight: 100;
    padding: 7px 6rem;
  }

  /*--- Pagination ---*/
  .pagination button {
    padding: 7px 20px;

    font-size: 19px;
    margin-left: 5px;
  }
  .pagination button:hover {
    color: red;
  }
  .current-page {
    background-color: skyblue;
    color: white;
  }
  /* error */
  #error-message {
    font-size: 22px;
    text-align: center;
  }
  #try-again {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  .home-form {
    max-width: 60%;
  }
}
